.dashboard-wrapper {
    width: 100%;
    min-height: 100vh;
    
    color: var(--color-text-main);
    transition: background-color 0.5s, color 0.5s;
    box-sizing: border-box;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid var(--color-border);
    margin-bottom: 30px;
    transition: border-color 0.5s;
}

.dashboard-header h1 {
    font-size: 2.5em;
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info p {
    margin: 0;
    font-size: 1.1em;
    font-weight: 700;
}

.theme-toggle {
    background: var(--color-card-bg);
    border: 1px solid var(--color-border);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: translateY(-10px);
}

.theme-toggle:hover {
    background-color: var(--color-border);
    transform: translateY(-10px) scale(1.05);
}

.logout-button {
    padding: 8px 15px;
    background-color: var(--color-text-secondary);
    color: var(--color-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #d10000;
}

.dashboard-main {
    padding: 0 20px;
}

.decks-section h2 {
    font-size: 1.8em;
    color: var(--color-text-main);
    margin-bottom: 20px;
    border-bottom: 1px dashed var(--color-border);
    padding-bottom: 5px;
}

.deck-list-placeholder {
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 40px;
    text-align: center;
}

.deck-list-placeholder p {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: var(--color-text-secondary);
}

.duelist-button {
    display: inline-block; 
    width: auto;
    margin-top: 10px; 

    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    font-size: 1.0em; 
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
}

.duelist-button.primary {
    background-color: var(--color-primary);
    color: var(--color-card-bg);
}

.duelist-button.primary:hover {
    background-color: #ff9900;
}